package base

import (
	sm "vox/internal/statusMessage"
)

templ Base(page string, title string, sections templ.Component, statMessage sm.StatusMessage) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>VOX { title }</title>
			<link rel="icon" type="image/x-icon" href="/web/static/icons/favicon.ico"/>
			<link rel="stylesheet" href="/web/static/styles/bootstrap-5.3.8-dist/bootstrap.min.css">
		</head>
		<body class="d-flex flex-column min-vh-100">
			@navbar(page)
			<main class="flex-grow-1">
				@statusMessage(statMessage)
				@sections
			</main>
			@footer()

			<script src="/web/static/scripts/bootstrap-5.3.8-dist/bootstrap.bundle.min.js"></script>
		</body>
	</html>
}
