package base

import (
	m "vox/internal/middleware"
)

func getStatusMessagePhrase(key string) string {
	messages := map[string]string{
		// Error messages
		"signup_first_name":		"Please enter a first name.",
		"signup_last_name":		"Please enter a last name.",
		"signup_email":			"Please enter a valid email address.",
		"signup_password_length":	"Password must be at least 8 characters long.",
		"signup_password_uppercase":	"Password must contain at least one uppercase letter.",
		"signup_password_lowercase":	"Password must contain at least one lowercase letter.",
		"signup_password_number":	"Password must contain at least one number.",
		"signup_password_special":	"Password must contain at least one special character.",
		"signup_repeated_password":	"Passwords do not match.",
		"signup_hashing":		"Error hashing password.",
		"signup_duplicate_email":	"This email is already used by another user.",
		"signup_insert_user":		"Failed to create user.",
		"db":				"Database error",
		
		// Info messages
		"signin_user_created":		"Account created successfuly",
	}

	if message, exists := messages[key]; exists {
		return message
	}
	
	return key
}

templ statusMessage(statusMessage m.StatusMessage) {
	if statusMessage.Info != "" {
		<div class="alert alert-info" role="alert">
			{ getStatusMessagePhrase(statusMessage.Info) }
		</div>
	}
	if statusMessage.Err != "" {
		<div class="alert alert-danger" role="alert">
			{ getStatusMessagePhrase(statusMessage.Err) }
		</div>
	}
}
