package signin

import (
	"vox/web/templates/base"
	m "vox/internal/middleware"
)

templ sections() {
	@panel()
}

templ Handler(page string, title string, statusMessage m.StatusMessage) {
	@base.Base(page, title, sections(), statusMessage)
}
