package signin

import (
	"vox/web/templates/base"
	sm "vox/internal/statusMessage"
)

templ sections() {
	@panel()
}

templ Handler(page string, title string, statusMessage sm.StatusMessage) {
	@base.Base(page, title, sections(), statusMessage)
}
