package home

import (
	"vox/web/templates/base"
	sm "vox/internal/status_message"
	up "vox/internal/userProfile"
)

templ sections(userProfile *up.UserProfile) {
	@panel(userProfile)
}

templ Handler(page string, title string, statusMessage sm.StatusMessage, userProfile *up.UserProfile) {
	@base.Base(page, title, sections(userProfile), statusMessage, userProfile)
}
