package home

import (
	up "vox/internal/userProfile"
)

templ panel(userProfile *up.UserProfile){
	<h1>Welcome {userProfile.FirstName}!</h1>
	<h3>Are you ready for your daily dose of practice?</h3>
	<a href="/conversation">Conversation</a>
}
